@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/*-----------Special margins/Paddings-----------*/

.about-us-padding {
    padding-top: 180px;
}



/*-----------------Header----------------*/

.logo {
  background: url("../images/mpdbuilderslogo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  min-height: 100px;
}

