@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/*-----------Special margins/Paddings-----------*/

.navbar {
  padding-top: 50px;
}

.section-padding {
  padding-top: 130px;
}

.footer-size {
  line-height: 30px;
  padding-top: 80px;
}

/*-----------------Hover.css----------------*/

.hvr-underline-from-center::before {
  background: #b22222;
  height: 2px;
}

.hvr-sweep-to-right::before {
  background: #2f4f4f;
  opacity: 0.5;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

.gallery-hover-text {
  text-decoration: none;
  color: transparent;
  text-align: center;
}

.gallery-hover-text:hover {
  font-size: 17px;
  color: #ffffff;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

/*-----------------Header----------------*/

.logo {
  background: url("../images/mpdbuilderslogo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px 100px;
  min-height: 100px;
}

.spacing-nav-items {
  letter-spacing: 2px;
}

/*-----------------Home----------------*/

.bg-slate-dark {
  background: url("../images/darkslatebg2.jpg");
}

.bg-slate-white {
  background: url("../images/whiteslatebg.jpg");
}

.slate-properties {
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  font-size: 20px;
  font-weight: 400;
}

.spacing-about-text {
  letter-spacing: 2px;
}

/*-----------------Gallery----------------*/

.gallery-one {
  background: url("../images/39christmaspieave.jpg");
}

.gallery-two {
  background: url("../images/sthelensfrimley.jpg");
}

.gallery-three {
  background: url("../images/56chingfordextension.jpg");
}

.gallery-four {
  background: url("../images/56chingfordkitchen.jpg");
}

.gallery-five {
  background: url("../images/56chingfordaveliving.jpg");
}

.gallery-six {
  background: url("../images/2clockhouserd.jpg");
}

.gallery-seven {
  background: url("../images/2clockhousebathroom.jpg");
}

.img-properties {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

/*-----------------Footer----------------*/

footer ul li a i {
  text-decoration: none;
  color: slategray;
}
